html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202325;
    /* background-color: green; */
}

ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
  }
  
  input[type="checkbox"][id^="cb"] {
    display: none;
  }
  
  label {
    border: 1px solid #fff;
    padding: 0;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    height: 50px;
    width: 50px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    display: block;
    margin: 0 auto;
  }
  
  :checked + label {
    border-color: #ddd;
  }
  
  :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }

.main_results{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-template-areas: "primeiro segundo terceiro quarto";
    background-color: #202325;
}

#resultado{
  border: 5px solid black;
  background-color: white;
  grid-area: primeiro;
  width: 300px;
}

#txtinput{
  border: 5px solid black;
}

#divform{
  background-color: snow; 
  border-radius: 10px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.canvasresult{
  /* border: 5px solid black; */
  /* background-color: blue; */
  grid-area: segundo;
}

/* Style buttons */
#downbtn {
  /* grid-area: btn2; */
  background-color: rgb(255, 0, 0);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
}

/* Darker background on mouse-over */
#downbtn:hover {
  background-color: rgb(153, 13, 13);
}

#genbtn {
  /* grid-area: btn1; */
  background-color: rgb(6, 93, 255);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
}

/* Darker background on mouse-over */
#genbtn:hover {
  background-color: blue
}

p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

canvas{
  height: 100%;
}
/* .image{
  display: flex;
  justify-content: center;
  align-items: center;
} */

a.btn{
  /* background-color:  rgb(0, 110, 255); */
  background-color: snow;
}
a#btn-pc:hover{
  /* background-color: red; */
  background: rgb(61, 255, 135);
}

a#btn-note{
  background-color: rgb(61, 255, 135);
  margin-left: 10px;
}
span{
  font-weight: bold;
  color: snow;
}

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343a40; 
  height: 50px;
  color: white;
}

#footer a{
  color: inherit;
  text-decoration: none;
}
#footer a:hover{
  color:rgb(0, 255, 0);
}
/* .github{
  display: flex;
  justify-content: center;
  align-items: center;
} */
